<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>eat-tem</title>
    <link rel="stylesheet" type ="text/css" th:href="@{/style.css}">
     <link rel="icon" href="/favicon.ico">
     <link rel="stylesheet" type ="text/css" th:href="@{/style_signup.css}">

</head>
<body>
	<header th:replace="~{header :: headerFragment}"></header>
	<th:block layout:fragment="content"></th:block>
	
</body>
</html>